{% extends "padre.html" %}

{% block content %}
    <h2>Acerca de Mí</h2>
    <p>Este sitio fue desarrollado como parte de un trabajo práctico final para Coderhouse. 
    La idea fue crear una plataforma donde se puedan ver artículos de distintos rubros 
    (Accesorios, Repuestos e Indumentaria) de motos. En un próximo paso se estarán cargando fotos, con el fin de convertirlo en catalogo.</p>

    <h3>¿Qué podés hacer acá?</h3>
    <ul>
        <li>Registrar y administrar usuarios</li>
        <li>Cargar repuestos, accesorios e indumentaria</li>
        <li>Ver, editar o eliminar registros</li>
    </ul>

    <h3>Desarrollador:</h3>
    <p><strong>Daniel Furche</strong></p>
{% endblock %}
