{% extends "padre.html" %}

{% block title %} repuesto {% endblock %}

{% block content %}

<h2>Buscar repuesto</h2>

<form method="GET" action="{% url 'buscar-repuesto' %}">
    <input type="text" name="num_parte" placeholder="Buscar repuesto..." value="{{ num_parte }}">
    <button type="submit">Buscar</button>
</form>

<h2>repuesto: </h2>

<ul>
    {% for repuesto in repuesto %}
        <li>{{ repuesto.num_parte }}</li>
    {% empty %}
        <li>No hay repuestos disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'crear-repuesto' %}">Agregar Repuesto</a>

{% endblock %}